# Ignore directories containing datasets
/dataset/jpeg_images/
/dataset/jpeg_masks/
/dataset/png_images/
/dataset/val_dataset/

# Ignore specific large files
/dataset/people-clothing-segmentation.zip

# Ignore all JPEG and PNG files
*.jpeg
*.png
